.App {
  text-align: center;
}

.add_todo {
  display:  flex;
  justify-content: center;
}

.add_form {
  display: flex;
  gap:10px;
  align-items: center;
}

.add_form_button {
  padding: 12px;
  color:black;
  background-color: aqua;
  border-radius: 8px;
  box-shadow: 0 4px #999;
}

.add_form_button:hover {
  background-color:darkcyan;
}

.add_form_button:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.add_form_field {
  height:70%;
  background-color: lightgray;
  border-radius: 8px;
}